.last-upload{
    margin-bottom: 137px;
}


.footer-upload{
    width: 100%;
    height: 742px;
    
    padding: 337px 254px 336px 154px;
    background-color: #eef1f2;
}
.btn-upload{
   
    padding: 27px 61px 25px 57px;
    border-radius: 15px;
    box-shadow: 0 3px 20px 0 rgba(255, 211, 0, 0.2);
    background-color: #ffd300;
    font-family: Bentonsans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.54px;
    text-align: center;
    color: #2c2d48;
  }
  .add-an{
      text-align: center;
      margin-top:50px ;
     
  }

