.foot {
  width: 100%;
  height: 83px;

  margin: 15px 0 0;
  padding: 15.5px 68px 14.5px 49.4px;
  background-color: #5ac764 !important;
}

.titlo {
  margin: 32.5px 67px 28.5px 58px;
}
.titlo2 {
  margin: 22.6px 43.3px 23.1px 30.3px;
}
.line {
  width: 0;
  height: 53px;
  border: solid 1px rgba(238, 241, 242, 0.3);
}
.prog {
  margin-bottom: 20px;
}
.rt {
  padding: 17px 47px 0px 43px;
  justify-content: space-between;
}
.ligne {
  width: 340px;
  height: 0;
  max-width: 100%;

  border: solid 1px #eef1f2;
}

.blur {
  filter: blur(30px);
  
}
.rse {
  font-family: AllertaStencil;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #2c2d48;
  margin-top: 10px !important;
}
.progress-title {
  padding-bottom: 11px;
  font-family: BentonSans;
  font-size: 16px !important;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #2c2d48;
}
.bg-var1 {
  border-radius: 4px;
  background-image: linear-gradient(to right, #ffd300, #208a3c);
}
.bg-var2 {
  border-radius: 4px;
  background-image: linear-gradient(to right, #5ac764, #208a3c);
}
.bg-var3 {
  border-radius: 4px;
  background-image: linear-gradient(to right, #f4305d, #208a3c);
}

.bg-var4 {
  border-radius: 4px;
  background-image: linear-gradient(to right, #206b8a, #208a3c);
}
.bg-var5 {
  border-radius: 4px;
  background-image: linear-gradient(to right, #00b4ff, #208a3c);
}
.percontage {
  font-family: BentonSans;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #208a3c;
}
.date {
  
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 20.5px 0 16.5px 27.5px;
}
.nexdate {
  padding-top: 15px;
  padding-right: 0 !important;
  text-align: center;
}
.logo-card {
  padding: 10px;
}
.cont-ligne {
  margin-top: 25px;
  text-align: -webkit-center;
}
.cont-ligne1 {
  position: relative;
  bottom: 20px;
  text-align: -webkit-center;
}
