.nav-cont{
    margin:0 189px 80px 135px;
}



.ui.secondary.pointing.menu a{
  margin-right:129px !important;
  font-family: BentonSansBook;
  font-size: 22px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #2c2d48;
  border-bottom-width: 3px !important;
}
.ui.secondary.pointing.menu .active.item{
    font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #208a3c !important;
  border-color: #208a3c !important;
}
@media only screen and (max-width: 1395px) {
  .ui.secondary.pointing.menu a{
    margin-right:60px !important;

  }

  
}
@media only screen and (max-width: 1179px) {
  .ui.secondary.pointing.menu a{
    margin-right:30px !important;

  }

  
}

@media only screen and (max-width: 1091px) {
  .ui.secondary.pointing.menu a{
    margin-right:10px !important;

  }

  
}

@media only screen and (max-width: 1021px) {
  .ui.secondary.pointing.menu a{
    margin-right:5px !important;

  }

  
}
@media only screen and (max-width: 850px) {
  .ui.secondary.pointing.menu a{
    margin-right:5px !important;

  }
  .nav-cont{
    margin:0 0 80px 20px;
}


  
}
@media only screen and (max-width: 850px) {
  .ui.secondary.pointing.menu a{
    margin-right:5px !important;

  }
  .nav-cont{
    display: none;
}


  
}

